<footer role="contentinfo" class="main__footer">
  {% if page.footer %}
    <div class="main__footer-content">
      <div class="grid-row grid-row--12">
        {{ page.footer }}
      </div>
    </div>
  {% endif %}
</footer>
