{% extends "block.html.twig" %}

{#
/**
 * @file
 * Theme override for tabs.
 */
#}

{% block content %}
{{ attach_library('plop_starter/admin-tabs') }}
  {% if content %}
    <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
      {{ content }}
    </nav>
  {% endif %}
{% endblock %}
