/**
 * Breadcrumb
 */

.breadcrumb {
  padding: 0.5rem;
}
.breadcrumb ol {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.breadcrumb li {
  display: flex;
  align-items: center;
}
.breadcrumb a {
  font-weight: 500;
}
.breadcrumb li::after {
  content: "";
  position: relative;
  display: block;
  width: 15px;
  height: 9px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/breadcrumb-divider.svg');
}
.breadcrumb li:last-child::after {
  content: none;
}
.breadcrumb li::before {
  content: none;
}
