/**
 * Pagination (component)
 * Event component used in
 * - pager.html.twig
 */

.pager {
  margin: 4rem 0 0;
}
.pager__items {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.pager__item {
  padding: 0;
  display: block;
}
.pager__item.is-active {
  font-weight: normal;
}
.pager__item a,
.pager__item--ellipsis{
  font-family: Raleway, sans-serif;
  padding: 0.5rem 0.62rem;
  color: var(--color-primary--1);
  border-radius: 3px;
  display: block;
}
.pager__item a:hover{
  background-color: var(--color-primary--1);
  color: var(--color-neutral--4);
  text-decoration: none;
}
.pager__item.is-active a{
  background-color: var(--color-primary--1);
  color: var(--color-neutral--4);
}
.pager__item--previous span,
.pager__item--next span {
  display: none;
}
.pager__item--previous a::before {
  content:'<';
}
.pager__item--next a::before {
  content:'>';
}
.pagerer-container .pager__item--previous {
  order: -1;
}
.pagerer-container .pager__item--next {
  order: 99;
}
.pager__item--hidden {
  display: none;
}
@media all and (min-width: 750px) {
  .pager__items {
    gap: 0.75rem;
  }
  .pager__item--previous span,
  .pager__item--next span {
    display: block;
  }
  .pager__item--previous a::before {
    content: none;
  }
  .pager__item--next a::before {
    content: none;
  }
  .pager__item a,
  .pager__item--ellipsis{
    font-family: Raleway, sans-serif;
    padding: 0.5rem 0.75rem;
  }
 }
